@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Sample .Net Application</title>
</head>
<body>
    <style type='text/css'>

        body {
            text-align: right;
            background-color: #144073;
        }
    </style>
    <div style="float: right">


        <img src="./va-og-image.png" style="height: 168px; width: 352px;" />



    </div>

    <h1>Sample .NET Application </h1>
    <style type='text/css'>


        h1 {
            text-align: center;
            color: white;
            background-color: #389BD6;
        }
    </style>
    <h2>Representing REFDOC Technical Stack </h2>
    <style type='text/css'>


        h2 {
            text-align: center;
            color: white;
            background-color: #389BD6;
        }p {
  display: block;
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 5em;
  text-align: center;
  font-size:24px;
     color: white;
  margin-right: 1em;
}


    </style>

<p>This is sample .net application which connects SQL Database,<br/> Click on Persons to fetch,Add,Edit,Delete the data from Persons table.</p>



</body>
</html>
